<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="google-site-verification" content="F14MUIFGR-xd2NVlahcoSLzCaUZLyioj3N3lpOJE_FQ" />
	<link rel="icon" type="image/png" href="/images/logo3.png">
	<title>Upswing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="/css/animate.css" rel="stylesheet" media="screen">
	<link href="/css/owl.theme.css" rel="stylesheet">
	<link href="/css/owl.carousel.css" rel="stylesheet">
	<link href="/css/carousel.css" rel="stylesheet">
	<link href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet">
	<link href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	
	<!-- Colors -->
	<link href="/css/css-index.css" rel="stylesheet" media="screen">
	<!-- <link href="css/css-index-green.css" rel="stylesheet" media="screen"> -->
	<!-- <link href="css/css-index-purple.css" rel="stylesheet" media="screen"> -->
	<!-- <link href="css/css-index-red.css" rel="stylesheet" media="screen"> -->
	<!-- <link href="css/css-index-orange.css" rel="stylesheet" media="screen"> -->
	<!-- <link href="css/css-index-yellow.css" rel="stylesheet" media="screen"> -->

	<!-- Google Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@rpradha1">
	<meta name="twitter:title" content="InstaGoal">
	<meta name="twitter:description" content="Our platform is very simple and easy to use and we pride ourselves on that. We have made the platform a super to easy tool whether your an app guru or not.">
	<meta name="twitter:image" content="http://r.ddmcdn.com/s_f/o_1/cx_633/cy_0/cw_1725/ch_1725/w_720/APL/uploads/2014/11/too-cute-doggone-it-video-playlist.jpg"> {{{_sections.head}}}
</head>

<body data-spy="scroll" data-target="#navbar-scroll">
		
		{{{body}}}
		{{> footer }}
		<!-- /.javascript files -->
		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
		<script src="/js/carousel.js"></script>
		<script src="/js/custom.js"></script>
		<script src="/js/jquery.sticky.js"></script>
		<script src="/js/wow.min.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/app.js"></script>
		<script>
			new WOW().init();
		</script>
</body>

</html>
