
      <!-- /.preloader -->
        <div id="preloader"></div>
        <div id="top"></div>

        <!-- /.parallax full screen background image -->
        <div class="fullscreen landing parallax relative" style="background-image:url('images/bg-video.png');" data-img-width="2000" data-img-height="1333" data-diff="100">
            <video poster="images/bg-video.png" id="bgvid" playsinline autoplay muted loop>
                <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
                <source src="images/bg-video2.mp4" type="video/mp4">
            </video>
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">

                            <!-- /.logo -->
                            <div class="top-logo wow fadeInDown">
                                 <a class="site-name" href="#top"><img src="images/logo3.png" alt="logo"><span class="upswing">Upswing Home</span><span class="soln"> Solutions</span></a>
                            </div>

                            <!-- /.main title -->
                            <h1 class="wow fadeInLeft">
                                Need to sell your home quickly? We can help!
                            </h1>

                            <!-- /.header paragraph -->
                            <div class="landing-text wow fadeInUp">
                                <p>We are a real estate solutions company in the area helping homeowners and improving communities. We can help you sell your home no matter what your situation is, the condition of your house, or the area you are in. Get Your Cash Offer Now!</p>
                            </div>				  

                            <!-- /.header button -->
                            <div class="head-btn wow fadeInLeft">
                                <a href="#buy-a-home" class="btn-primary">Buy a home</a>
                                <a href="#contact" class="btn-default">Connect</a>
                            </div>



                        </div> 

                        <!-- /.signup form -->
                        <div class="col-md-5">

                            <div class="signup-header wow fadeInUp">
                                <h3 class="form-title text-center">Sell Your Home</h3>
                                <form class="form-header" role="form">
                                    <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
                                    <input type="hidden" name="id" value="bfdba52708">
                                    <div class="form-group">
                                        <input class="form-control input-lg top-seller-name" name="name" id="name" type="text" placeholder="Your name" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control input-lg top-seller-email" name="email" id="email" type="email" placeholder="Email address" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control input-lg top-seller-phone" name="phone" id="phone" type="text" placeholder="Your phone" required>
                                    </div>
                                    <div class="form-group last">
                                        <input type="submit" class="btn btn-warning btn-block btn-lg top-seller-submit" value="SIGN UP NOW">
                                    </div>
                                    <p class="privacy text-center">We respect your privacy</a>.</p>
                                </form>
                            </div>				

                        </div>
                    </div>
                </div> 
            </div> 
        </div>

        <!-- NAVIGATION -->
        <div id="menu">
            <nav class="navbar-wrapper navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand site-name" href="#top"><img src="images/logo3.png" alt="logo"><span class="upswing">Upswing Home</span><span class="soln"> Solutions</span></a>
                    </div>

                    <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#intro">About</a></li>
                            <li><a href="#sell-your-home">Sell your home</a></li>
                            <li><a href="#buy-a-home">Buy a home</a></li>
                            <li><a href="/home-for-sale">Homes for sale</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- /.intro section -->
        <div id="intro">
            <div class="container">
                <div class="row">

                    <!-- /.intro image -->
                    <div class="col-md-6 intro-pic wow slideInLeft">
                        <img src="images/fam.jpg" alt="image" class="img-responsive">
                    </div>	

                    <!-- /.intro content -->
                    <div class="col-md-6 wow slideInRight">
                        <p>Upswing Home Solutions is here to help homeowners out of any kind of distressed situation.  As investors, we are in business to make a modest profit on any deal, however we can help homeowners out of just about any situation, no matter what!  There are no fees, up front costs, commissions, or anything else.  Just the simple honest truth about your home and how we can help you sell it fast to resolve any situation.</p>
                        <p>We are committed to helping each individual customer. We focus on fast response, integrity and over-delivering on customer service. By putting the customer’s needs first, whether selling or buying a home, we can help you realize your real estate goals.</p>

                        <div class="btn-section">Call us today at <a href="#feature" class="btn-default" style="margin-left: 1rem;">917-524-8514
                        </a></div>

                    </div>
                </div>			  
            </div>
        </div>

        <!-- /.feature section -->
        <div id="sell-your-home" class="feature">
            <div class="action fullscreen parallax" style="background-image:url('images/home1.jpeg');" data-img-width="2000" data-img-height="1333" data-diff="100">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                                <!-- /.feature title -->
                                <h2 style="text-align: center; font-weight:500;padding-top:35px;">Sell Your Home</h2>
                                <p>We buy houses in any condition and all price ranges!</p>
                            </div>
                        </div>
                        <div class="row row-feat">
                            <div class="col-md-8">

                                <!-- /.feature 1 -->
                                <div class="col-sm-6 feat-list">
                                    <i class="pe-7s-note pe-5x pe-va wow fadeInUp"></i>
                                    <div class="inner">
                                        <h4>Step 1</h4>
                                        <p>Enter your information in the web form.
                                        </p>
                                    </div>
                                </div>

                                <!-- /.feature 2 -->
                                <div class="col-sm-6 feat-list">
                                    <i class="pe-7s-call pe-5x pe-va wow fadeInUp" data-wow-delay="0.2s"></i>
                                    <div class="inner">
                                        <h4>Step 2</h4>
                                        <p>You will be contacted to discuss an offer for the property submitted.</p>
                                    </div>
                                </div>

                                <!-- /.feature 3 -->
                                <div class="col-sm-6 feat-list">
                                    <i class="pe-7s-like2 pe-5x pe-va wow fadeInUp" data-wow-delay="0.4s"></i>
                                    <div class="inner">
                                        <h4>Step 3</h4>
                                        <p>You may accept or reject the offer presented to you during the call.</p>
                                    </div>
                                </div>

                                <!-- /.feature 4 -->
                                <div class="col-sm-6 feat-list">
                                    <i class="pe-7s-cash pe-5x pe-va wow fadeInUp" data-wow-delay="0.6s"></i>
                                    <div class="inner">
                                        <h4>Step 4</h4>
                                        <p>Get The Cash.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">

                                <!-- /.feature image -->
                                <div class="feature-img">
                                    <form class="form-header wow fadeInRight" role="form">
                                            <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
                                            <input type="hidden" name="id" value="bfdba52708">
                                            <div class="form-group">
                                                <input class="form-control input-lg seller-name" name="name" id="name" type="text" placeholder="Your name" required>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg seller-email" name="email" id="email" type="email" placeholder="Email address" required>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg seller-zip" name="zip_code" id="zip_code" type="text" placeholder="Your zip code" required>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg seller-phone" name="phone" id="phone" type="text" placeholder="Your phone" required>
                                            </div>
                                            <div class="form-group last">
                                                <input type="submit" class="btn btn-warning btn-block btn-lg seller-submit" value="SUBMIT NOW">
                                            </div>
                                            <p class="privacy text-center">We respect your privacy.</p>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.feature 2 section -->
        <div id="feature-2">
            <div class="container">
                <div class="row">
                    <div className="text-center">
                        <h2 className="wow fadeInLeft" style="text-align: center; font-weight:500;padding-bottom: 4rem;">Property Showcase</h2>
                    </div>
                    <!-- /.feature content -->
                    <div id="owl-demo" class="owl-carousel owl-theme">                     
                        <div class="item item-house"><img src="images/house1.jpg" /><div class="overlay-text"><p>527-531 McEwan, Windsor</p><p>Windsor,Ontario N9B 2E7</p><p>1bed | 1bath | 700sqft</p></div></div>
                        <div class="item item-house"><img src="images/thumb1.jpg" /><div class="overlay-text"><p>615 Gresham Pl NW</p><p>WASHINGTON,DC 20001</p><p>2bed | 1bath | 968sqft</p></div></div>
                        <div class="item item-house"><img src="images/thumb2.jpg" /><div class="overlay-text"><p>4410 Maple Rd</p><p>MORNINGSIDE,MD 20746</p><p>1bed | 1bath | 823sqft</p></div></div>
                        <div class="item item-house"><img src="images/thumb3.jpg" /><div class="overlay-text"><p>5016 GUNTHER ST</p><p>CAPITOL HEIGHTS,MD 20743</p><p>3bed | 2bath | 1235sqft</p></div></div>
                        <div class="item item-house"><img src="images/thumb4.jpg" /><div class="overlay-text"><p>3418 Springdale Ave</p><p>DISTRICT HEIGHTS,MD 20747</p><p>3bed | 1bath | 1100sqft</p></div></div>
                        <div class="item item-house"><img src="images/thumb5.jpg" /><div class="overlay-text"><p>5716 Blaine St NE</p><p>WASHINGTON,DC 20019</p><p>3bed | 3bath | 1600sqft</p></div></div>
                        <div class="item item-house"><img src="images/thumb6.jpg" /><div class="overlay-text"><p>6612 Weston Avenue</p><p>Capitol Heights,MD 20743</p><p>2bed | 1bath | 900sqft</p></div></div>
                        <div class="item item-house"><img src="images/thumb7.jpg" /><div class="overlay-text"><p>6602 Clinglog St</p><p>Capitol Heights,MD 20743</p><p>2bed | 2bath | 998sqft</p></div></div>
                    </div>

                </div>			  

            </div>
        </div>


        <!-- /.download section -->
        <div id="buy-a-home">
            <div class="action fullscreen parallax" style="background-image:url('images/home2.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">
                <div class="overlay">
                    <div class="container">
                        <div class="row">

                            <!-- /.download title -->
                            <div class="col-md-8 col-sm-12 col-xs-12 text-center">
                                <h2 class="wow fadeInLeft">Prospective Home Buyers</h2>
                                <div class="background-opacity">
                                    <p class="download-text wow fadeInLeft">A very important step in the home-buying process is to get pre-qualified for a mortgage:
                                    This will give us an idea of the price range that you can afford so that we can get you in one of our homes that matches what you want or connect with you a licensed agent who can go out and find the best deal on a home that is right for you.</p>
                                    <p class="download-text wow fadeInLeft">Getting pre-qualified will require that you provide a lender with some basic information on your income, assets, and debt. We can arrange to have this done for you at no cost.</p>
                                    <p class="download-text wow fadeInLeft">Enter your information to the right and we will get in touch with you shortly, or call us at 917-524-8514</p>
                                </div>
                            </div>
                            <!-- /.download button -->
                            <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                                <p class="buyer-title">Join our VIP Buyers List Now!</p>
                                <div class="buyer-div">
                                    <form class="form-header wow fadeInRight" role="form">
                                            <input type="hidden" name="u" value="503bdae81fde8612ff4944435">
                                            <input type="hidden" name="id" value="bfdba52708">
                                            <div class="form-group">
                                                <input class="form-control input-lg buyer-name" name="name" id="name" type="text" placeholder="Your name" required>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg buyer-email" name="email" id="email" type="email" placeholder="Email address" required>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg buyer-zip" name="zip_code" id="zip_code" type="text" placeholder="Your zip code" required>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg buyer-phone" name="phone" id="phone" type="text" placeholder="Your phone" required>
                                            </div>
                                            <div class="form-group last">
                                                <input type="submit" class="btn btn-warning btn-block btn-lg buyer-submit" value="SUBMIT NOW">
                                            </div>
                                            <p class="privacy text-center">We respect your privacy.</p>
                                        </form>
                                </div>
                            </div>
                        </div>	
                    </div>	
                </div>
            </div>
        </div>

        <!-- /.pricing section -->
        <div id="package">
            <div className="container center" style="text-align: center; margin-bottom: 5rem;">
                <div className="text-center">
                    <h2 className="wow fadeInLeft">TESTIMONIALS</h2>
                    <div className="title-line wow fadeInRight"></div>
                </div>
                <div className="row testimonial-box">
                    <div className="col-sm-10 col-sm-offset-1">	
                        <div id="owl-testi" className="owl-carousel owl-theme wow fadeInUp">

                            <div className="testi-item">
                                <div className="box">

                                    <p className="message text-center">"Kevin from Upswing Home Solutions was very courteous and understanding and we appreciate the effort he had made to help us with our real estate situation. Thanks Kevin. – Dorothy F. (Allen)"</p>
                                </div>
                                <div className="client-info text-center">

                                    Dorothy Allen, <span className="company">New York</span>	
                                </div>
                            </div>		

                            <div className="testi-item">
                                <div className="box">
                                    <p className="message text-center">"I have known Kevin since 2008. Kevin has the ability to understand and resolve complicated problems, and make them appear simple and logical. He has a tremendous practical sense and is a fantastic leader. I look forward to the net time I can collaborate with Kevin. – Joe Stewart"</p>
                                </div>
                                <div className="client-info text-center">

                                    Joe Stewart, <span className="company">New York</span>	
                                </div>
                            </div>				

                            <div className="testi-item">
                                <div className="box">

                                    <p className="message text-center">"Rubina from Upswing Home Solutions helped me prevent foreclosure and closed on my home fast with cash!"</p>
                                </div>
                                <div className="client-info text-center">

                                    Sara Allen, <span className="company">New York</span>	
                                </div>
                            </div>			

                        </div>
                    </div>	
                </div>	
            </div>
        </div>

        <!-- /.contact section -->
        <div id="contact">
            <div class="contact fullscreen parallax" style="background-image:url('images/contactimg.jpeg');" data-img-width="2000" data-img-height="1334" data-diff="100">
                <div class="overlay">
                    <div class="container">
                        <div class="row contact-row">

                            <!-- /.address and contact -->
                            <div class="col-sm-5 contact-left wow fadeInUp">
                                <h2><span class="highlight">Get</span> in touch</h2>
                                <ul class="ul-address">
                                    <li><i class="pe-7s-map-marker"></i>New York
                                    </li>
                                    <li><i class="pe-7s-phone"></i>917-524-8514
                                    </li>
                                    <li><i class="pe-7s-mail"></i><a href="mailto:info@upswinghomes.com">info@upswinghomes.com</a></li>
                                    <li><i class="pe-7s-look"></i><a href="#">www.upswinghomes.com</a></li>
                                </ul>	

                            </div>

                            <!-- /.contact form -->
                            <div class="col-sm-7 contact-right">
                                <form id="contact-form" class="form-horizontal">
                                    <div class="form-group">
                                        <input type="text" name="Name" id="Name" class="form-control wow fadeInUp sender-name" placeholder="Name" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="Email" id="Email" class="form-control wow fadeInUp sender-email" placeholder="Email" required/>
                                    </div>					
                                    <div class="form-group">
                                        <textarea name="Message" rows="20" cols="20" id="Message" class="form-control input-message wow fadeInUp sender-mssg"  placeholder="Message" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="submit" value="Submit" class="btn btn-success wow fadeInUp sender-submit" />
                                    </div>
                                </form>		
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
