	<link rel="stylesheet" type="text/css" href="/css/construction.css">
<!-- NAVIGATION -->
<div id="menu">
    <nav class="navbar-wrapper navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-backyard">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand site-name" href="/"><img src="images/logo3.png" alt="logo"><span class="upswing">Upswing Home</span><span class="soln"> Solutions</span></a>
            </div>

            <div id="navbar-scroll" class="collapse navbar-collapse navbar-backyard navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/#intro">About</a></li>
                    <li><a href="/#sell-your-home">Sell your home</a></li>
                    <li><a href="/#buy-a-home">Buy a home</a></li>
                    <li><a href="/home-for-sale">Homes for sale</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="content">
  <h1>< building /></h1>
  <p>Working day and night!</p>
</div>
<div id="outerCraneContainer">
  <div class="buildings">
    <div></div>
    <div class="1"></div>
    <div class="2"></div>
    <div class="3"></div>
    <div class="4"></div>
  </div>
  <div class="crane craneThree">
    <div class="line lineOne"></div>
    <div class="line lineTwo"></div>
    <div class="line lineThree"></div>
    <div class="stand"></div>
    <div class="weight"></div>
    <div class="cabin"></div>
    <div class="arm"></div>
  </div>
  <div class="crane craneTwo">
    <div class="line lineOne"></div>
    <div class="line lineTwo"></div>
    <div class="line lineThree"></div>
    <div class="stand"></div>
    <div class="weight"></div>
    <div class="cabin"></div>
    <div class="arm"></div>
  </div>
  <div class="crane craneOne">
    <div class="line lineOne"></div>
    <div class="line lineTwo"></div>
    <div class="line lineThree"></div>
    <div class="stand"></div>
    <div class="weight"></div>
    <div class="cabin"></div>
    <div class="arm"></div>
  </div>
</div>